body
{
	background-color: #800080;
}

h1
{
	color:white;
	text-align: center;
	padding: 10px;
}
.menu{
    width: 1000px;
    padding: 27px;
    border: 1px solid gray;
    margin: 0;
    display: inline-block;
    background-color: #D8BFD8;
}
nav a{
	text-decoration: none;
	margin-left: 3%;
	padding:10px 27px;
	border-radius: 5px;
	background-color:rgba(230,247,255,0.4);
	color:#002333;
	text-align: center;
	display:inline-block;
	font-size: 120%;
	/*cursor: pointer;*/
	box-shadow: 0 5px 0 #006599;
	transition: all .1s linear;
}

a:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
img
{
	position: relative;
	width:1055px;
	height: 400px;
	padding: 5px 0px;
}
.image{
display:inline-block;
position:relative;
}
h2 { 
   position: absolute; 
   text-align: center;
   top: 80px; 
   left: 0; 
   width: 100%; 
}
.image a{
	position: absolute;
	top: 230px;
	left:0;
	width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 350%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.login-content {
    background-color: #DCDCDC;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.styletext
{
    font-size: 30px;
    color: #006599;
   /* background: -webkit-linear-gradient(#ffffff, #9932CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
#wrapper{
    width: 65%;
    margin-left: 10px;
    margin-top: 40px;
    /*margin: 50px auto;
    padding: 20px;*/
    background: #DCDCDC;
}
form{
    width: 50%;
    margin: 2px auto;

}
form div{
    margin: 3px auto;
}
.textInput{
    margin-top: 15px;
    height: 28px;
    border: 1px solid #5E6E66;
    font-size: 16px;
    margin-left: 10px;
    width: 200%;

}
.btn{

    margin-left: 100px;
    width: 100%;
    margin-top: 15px;
    background-color: #800080;
    display: inline-block;
    font-size: 16px;
    height: 40px;
}
.val_error{
    color: #FF1F1F;
}
.center{
    margin-left: 120px;
    margin-top: 5px;
}
